[phases.setup]
nixPkgs = ['python311', 'postgresql', 'sqlite', 'poetry']

[phases.install]
cmds = [
  'poetry config virtualenvs.create false',
  'poetry install --only=main --no-dev --no-root'
]

[phases.build]
cmds = ['cd backend && poetry run python manage.py collectstatic --noinput']

[start]
cmd = 'cd backend && poetry run python manage.py migrate && poetry run gunicorn portfolio_site.wsgi:application --bind 0.0.0.0:$PORT'